.about-section {
  padding-bottom: 2.5rem;
  padding-left: 15%;
  padding-top: 6%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
  color: #d1dcff;
  background: #0a192f;
  @media (max-width: 1024px) {
    padding-left: 5%;
  }
  .about-top-wrapper {
    display: flex;
    padding-top: 6rem;
    flex-direction: row;
    .about-top-head {
      padding-left: 10%;
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: 600;

      @media (max-width: 750px) {
        padding-left: 5%;
      }
      @media (min-width: 640px) {
        font-size: 3rem;
        line-height: 1;
      }
    }
    .intro {
      padding-top: 2rem;
      padding-left: 10%;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 500;
      @media (max-width: 750px) {
        padding-left: 5%;
      }
    }
    .intro-grad {
      padding-left: 10%;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 500;
      @media (max-width: 750px) {
        padding-left: 5%;
      }
    }
    .intro-hobbies {
      padding-top: 3.5rem;
      padding-left: 10%;
      font-size: 1.25rem;
      line-height: 1.75rem;
      font-weight: 500;
      @media (max-width: 750px) {
        padding-left: 5%;
      }
      .hobby-list {
        padding-top: 2rem;
        padding-left: 3rem;
      }
      .list-style {
        list-style-type: disc;
      }
    }
  }
  .skill-section {
    margin-top: 6rem;
    align-items: center;
    .skill-head {
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: 600;
      text-align: center;
    }
  }
}
.skills-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 2rem;
  padding: 1rem 2rem;
  @media (max-width: 1225px) {
    padding: 1.5rem 0;
  }
  @media (max-width: 1155px) {
    margin: 1.5rem 0;
  }
  @media (max-width: 810px) {
    gap: 2rem;
  }
}
