.resume-wrapper {
  padding-left: 6rem;
  padding-right: 6rem;
  background: #0a192f;
  flex-grow: 1;
  .resume-pdf {
    margin-top: 5rem;
    width: fit-content;
  }
  .resume-button {
    width: 10rem;
    background-color: red;
    color: aliceblue;
    border: 1px solid black;
  }
}
