.work-wrapper {
  padding-left: 10%;
  padding-right: 10%;
  background: #0a192f;
  flex-grow: 1;
  @media (max-width: 960px) {
    padding-left: 5%;
    padding-right: 5%;
  }
  .work-head {
    padding-top: 6rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: #d1d5db;
  }
  .project-section {
    text-align: center;
    color: #d1d5db;
  }
  .project-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    padding-bottom: 6rem;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    @media (max-width: 1024px) {
      gap: 2rem;
    }
  }
}
